<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<div class="fullmenu">

    <div class="djustify-content-center container ThanhMenu">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid chu-footer">
                <button class="navbar-toggler text-end" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="../../static/css/img/logo.png" alt="logo" width="100px"></a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item dropdown">
                            <a class="nav-link active " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                GIÁ ƯU ĐÃI
                            </a>
                            <ul class="dropdown-menu chu-footer">
                                <li><a class="dropdown-item" href="#">79K</a></li>
                                <li><a class="dropdown-item" href="#">99K-119K</a></li>
                                <li><a class="dropdown-item" href="#">149K-159K</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link active " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                GIÀY NỮ
                            </a>
                            <ul class="dropdown-menu chu-footer">
                                <li><a class="dropdown-item" href="#">GIÀY CAO GÓT</a>

                                </li>

                                <li><a class="dropdown-item" href="#">GIÀY THỂ THAO</a></li>
                                <li><a class="dropdown-item" href="#">SANDAL NỮ</a></li>
                                <li><a class="dropdown-item" href="#">DÉP SỤC</a>

                                </li>

                                <li><a class="dropdown-item" href="#"> GIÀY BÚP BÊ & MỌI </a></li>
                                <li><a class="dropdown-item" href="#">OXFORD & BOOT</a></li>
                                <li><a class="dropdown-item" href="#">DÉP NỮ</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link active " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                GIÀY NAM
                            </a>
                            <ul class="dropdown-menu chu-footer">
                                <li><a class="dropdown-item" href="#">GIÀY THỂ THAO NAM </a></li>
                                <li><a class="dropdown-item" href="#">SANDAL NAM</a></li>
                                <li><a class="dropdown-item" href="#">DÉP NAM</a></li>
                                <li><a class="dropdown-item" href="#">GIÀY TÂY & SLIP ON</a></li>
                                <li><a class="dropdown-item" href="#">OXFORD & BOOT</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link active " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                GIÀY CẶP
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link active " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                BALO-TÚI
                            </a>
                            <ul class="dropdown-menu chu-footer">
                                <li><a class="dropdown-item" href="#">BALO LAPTOP, DU LỊCH, THỜI TRANG </a></li>
                                <li><a class="dropdown-item" href="#">TÚI DEO CHÉO</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown"></li>
                        <a class="nav-link active " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            SALE 50%
                        </a>
                        </li>

                        <li class="nav-item dropdown"></li>
                        <a class="nav-link active " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            SẢN PHẨM BÁN CHẠY
                        </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link active " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                PHỤ KIỆN
                            </a>
                            <ul class="dropdown-menu chu-footer">
                                <li><a class="dropdown-item" href="#">VỚ </a></li>
                                <li><a class="dropdown-item" href="#">CHAI VỆ SINH GIÀY</a></li>
                                <li><a class="dropdown-item" href="#">DÂY GIÀY</a></li>
                                <li><a class="dropdown-item" href="#">ĐẾ LÓT</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <!-- Thanh tìm kiếm bình thường (hiển thị trên màn hình lớn) -->
                <form class="d-flex d-none d-lg-flex " role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           aria-describedby="button-addon2">
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                </form>

                <!-- Icon kính lúp (hiển thị trên màn hình nhỏ) -->
                <button class="btn btn-outline-success d-lg-none" id="search-icon" type="button">
                    <i class="bi bi-search"></i>
                </button>

                <!-- Thanh tìm kiếm ẩn (hiển thị khi nhấn vào kính lúp trên màn hình nhỏ) -->
                <form class="d-flex mt-3 d-none" id="mobile-search-form" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div class="dangNhap"><a href=""><i class="bi bi-person"></i></a></div>
                <div class="gioHang"><a href=""><i class="bi bi-cart2"></i></a></div>
            </div>
        </nav>
    </div>
</div>
<br>
<br>
<div class="TrangGiua container">
    <div class="row">
        <div class="col-lg-6">
            <div class="image-container mb-3">
                <img id="mainImage" src="../../static/css/img/sanpham1.jpg" alt="Hình lớn" class="img-fluid border rounded">
            </div>
            <div class="thumbnail-container d-flex">
                <!-- Ảnh nhỏ để nhấp -->
                <img src="../../static/css/img/sanpham1.jpg" alt="Hình 1" class="img-thumbnail me-2" style="width: 100px; cursor: pointer;"
                     onclick="changeImage('../img/sanpham1.jpg')">
                <img src="../../static/css/img/sanpham2.jpg" alt="Hình 2" class="img-thumbnail me-2" style="width: 100px; cursor: pointer;"
                     onclick="changeImage('../img/sanpham2.jpg')">
                <img src="../../static/css/img/sanpham3.jpg" alt="Hình 3" class="img-thumbnail me-2" style="width: 100px; cursor: pointer;"
                     onclick="changeImage('../img/sanpham3.jpg')">
                <img src="../../static/css/img/sanpham4.jpg" alt="Hình 4" class="img-thumbnail me-2" style="width: 100px; cursor: pointer;"
                     onclick="changeImage('../img/sanpham4.jpg')">
                <img src="../../static/css/img/sanpham5.jpg" alt="Hình 5" class="img-thumbnail me-2" style="width: 100px; cursor: pointer;"
                     onclick="changeImage('../img/sanpham5.jpg')">
                <img src="../../static/css/img/sanpham6.jpg" alt="Hình 6" class="img-thumbnail me-2" style="width: 100px; cursor: pointer;"
                     onclick="changeImage('../img/sanpham6.jpg')">
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <br>
            <p>Giày Cao Gót MWC 4403 - Giày Cao Gót Bít Mũi Bít Gót, Cao Gót Nữ Đế Vuông Cao 9 Phân Thanh Lịch, Thời Trang.
            </p>
            <br>
            <div>
                <span class="ratingDanhGia">★★★★☆</span>
                <span class="textDanhGia">125 Đánh giá</span>
                <span class="textDanhGia">1201 Số lượng thích</span>
            </div>
            <br>
            <div class="tien">235.000 đ</div>
            <br>
            <div class="container mau">
                <h6>Màu:</h6>
                <div class="color-container">
                    <input type="radio" id="black" name="color" class="color-button">
                    <label for="black" class="label-button color-black"></label>

                    <input type="radio" id="white" name="color" class="color-button">
                    <label for="white" class="label-button color-white"></label>
                </div>
            </div>
            <br>
            <div class="size-options">
                <h6 class="m-2">Kích thước:</h6>
                <input type="radio" name="size" id="size35" class="size-option">
                <label for="size35">35</label>

                <input type="radio" name="size" id="size36" class="size-option">
                <label for="size36">36</label>

                <input type="radio" name="size" id="size37" class="size-option">
                <label for="size37">37</label>

                <input type="radio" name="size" id="size38" class="size-option">
                <label for="size38">38</label>

                <input type="radio" name="size" id="size39" class="size-option">
                <label for="size39">39</label>
            </div>
            <br>
            <!-- Nút kích hoạt modal không có màu -->
            <button type="button" class="btn" style="background-color: transparent; border: none; color: #635f5f;"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Hướng dẫn tính Size
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Hướng dẫn tính Size</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Nội dung modal -->
                            <img src="../../static/css/img/chicachdo1.jpg" alt="">
                            <h6> 01. Vẽ khung bàn chân</h6>
                            <div>Đặt bàn chân lên tờ giấy trắng, dùng bút đánh dấu theo khung bàn chân trên giấy</div>
                            <img src="../../static/css/img/chicachdo2.jpg" alt="">
                            <h6> 02. Đo chiều dài bàn chân</h6>
                            <div>Dùng thước đo chiều dài lớn nhất từ mũi chân đến gót chân trên khung bàn chân đã đánh dấu</div>
                            <img src="../../static/css/img/chicachdo3.jpg" alt="">
                            <h6>03. Đo độ rộng vòng chân </h6>
                            <div>Lấy thước dây quấn quanh 1 vòng bàn chân từ khớp ngón chân cái đến khớp ngón chân út</div>
                            <div class="container chicachdo">
                                <div class="d-flex justify-content-between w-100">
                                    <div class="chicachdo1">
                                        <div><strong>Size</strong></div>
                                        <div>35</div>
                                        <div>36</div>
                                        <div>37</div>
                                        <div>38</div>
                                        <div>39</div>
                                    </div>

                                    <div class="chicachdo1">
                                        <div><strong>Độ rộng (cm)</strong></div>
                                        <div>20.7</div>
                                        <div>21.1</div>
                                        <div>21.6</div>
                                        <div>22.1</div>
                                        <div>22.6</div>
                                    </div>

                                    <div class="chicachdo1">
                                        <div><strong>Độ dài (cm)</strong></div>
                                        <div>23.1</div>
                                        <div>23.8</div>
                                        <div>24.5</div>
                                        <div>25.2</div>
                                        <div>25.8</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <button type="button" class="btn muaNgay">Mua ngay</button>
                <button type="button" class="btn themGioHang "><i class="bi bi-cart2"></i> thêm vào giỏ hàng </button>
            </div>
            <br>
            <div class="container chuHoTroTong">
                <div class="d-flex justify-content-between w-100">
                    <div class="text-center">
                        <div><img src="../../static/css/img/icon3.jpg" alt="" width="30px"></div>
                        <div class="chuHoTro">Bảo hành keo vĩnh viễn</div>
                    </div>

                    <div class="text-center">
                        <div><img src="../../static/css/img/icon4.jpg" alt="" width="30px"></div>
                        <div class="chuHoTro">Miễn phí vận chuyển toàn quốc</div>
                        <div class="chuHoTro">cho đơn hàng từ 150k</div>
                    </div>

                    <div class="text-center">
                        <div><img src="../../static/css/img/icon5.jpg" alt="" width="30px"></div>
                        <div class="chuHoTro">Đổi trả dễ dàng</div>
                        <div class="chuHoTro">(trong vòng 7 ngày nếu lỗi nhà sản xuất)</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="container chuHoTroTong">
                <div class="d-flex justify-content-between w-100">
                    <div class="text-center">
                        <div><img src="../../static/css/img/icon2.jpg" alt="" width="30px"></div>
                        <div class="chuHoTro">Hotline 1900.633.349</div>
                        <div class="chuHoTro">hỗ trợ từ 8h30-21h30</div>
                    </div>

                    <div class="text-center">
                        <div><img src="../../static/css/img/icon1.jpg" alt="" width="30px"></div>
                        <div class="chuHoTro">Giao hàng tận nơi,</div>
                        <div class="chuHoTro">nhận hàng xong thanh toán</div>
                    </div>

                    <div class="text-center">
                        <div><img src="../../static/css/img/icon3.jpg" alt="" width="30px"></div>
                        <div class="chuHoTro">Ưu đãi tích điểm và</div>
                        <div class="chuHoTro">hưởng quyền lợi thành viên từ MWC</div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <br>
        <br>
        <div class="banChiTietSanPham">
            <table>
                <tr>
                    <th>CHI TIẾT SẢN PHẨM</th>
                </tr>
                <tr>
                    <td><p><b>MÔ TẢ SẢN PHẨM: Dép Nữ MWC 8347 - Dép Nữ Quai Ngang Bản To Nhún Cách Điệu, Dép Đế Đúc 3cm Năng Động,Trẻ Trung, Thời Trang.</b></p>

                    <ul>
                        <li>Dép nữ với thiết kế quai ngang bản to nhún cách điệu, dép được làm bằng chất liệu da tổng hợp cao cấp nên rất êm mềm và bền bỉ.</li>
                        <li>Dép đế đúc nguyên khối nên có trọng lượng nhẹ, tạo sự thoải mái dễ đi, dễ phối với nhiều trang phục khác nhau từ quần tây, jeans hay chân váy, sooc,... đều rất hợp thời trang, từ đó làm tô thêm vẻ đẹp trẻ trung, năng động của các bạn gái.</li>
                        <li>Dép nữ quai ngang thực sự là lựa chọn lý tưởng cho phong cách năng động, tràn đầy sức sống, dép mang đi chơi, đi phố, đi trong nhà văn phòng đều phù hợp.</li>
                    </ul>
                    <p><b>CHI TIẾT SẢN PHẨM</b></p>
                    <ul>
                        <li>Chiều cao: Khoảng 3cm</li>
                        <li>Chất liệu: Da mềm tổng hợp cao cấp</li>
                        <li>Kiẻu dáng: Dép nữ quai ngang bản to, dép thời trang nữ</li>
                        <li>Đế: Xẻ rãnh chống trơn trượt</li>
                        <li>Màu sắc: Nâu - Đen - Kem</li>
                        <li>Size: 35 - 36 - 37 - 38 - 39</li>
                        <li>Xuất xứ: Việt Nam</li>
                        <li><b>Chú ý</b>: Kích thước so sánh một cách cẩn thận, vui lòng cho phép sai số 1-3 cm do đo lường thủ công.</li>
                        <li>Do màn hình hiển thị khác nhau và ánh sáng khác nhau, hình ảnh có thể chênh lệch 5->10% màu sắc thật của sản phẩm.</li>
                        <li>Cảm ơn bạn đã thông cảm.</li>
                    </ul>
                </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<br>
<hr>
<br>
<div class="cuoiTrang container">
    <div class="row">

        <div class="col-12 col-md-4">
            <div class="TTDH">GỌI MUA HÀNG ONLINE (08:00 - 21: 00 mỗi ngày)</div>
            <h3>1900.633.349</h3>
            <div class="thongTin">Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</div>
            <br>
            <div class="TTDH">GÓP Ý & KHIẾU NẠI (08:30 - 20:30)</div>
            <h3>1900.633.349</h3>
            <div class="thongTin">Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</div>
            <br>
        </div>

        <div class="col-12 col-md-4">
            <div class="TTDH">THÔNG TIN</div>
            <ul class="list-unstyled">
                <li><i class="fas fa-chevron-right custom-icon"></i> <a href="">Thông tin Website thương mại điện tử</a></li>
                <li><i class="fas fa-chevron-right custom-icon"></i> <a href="">Giới thiệu về MWC</a></li>
                <li><i class="fas fa-chevron-right custom-icon"></i> <a href="">Than Phiền Góp Ý</a></li>
                <li><i class="fas fa-chevron-right custom-icon"></i> <a href="">Chính sách và quy định</a></li>
            </ul>
        </div>

        <div class="col-12 col-md-4">
            <div class="TTDH">FAQ</div>
            <ul class="list-unstyled">
                <li><i class="fas fa-chevron-right custom-icon"></i> <a href="">Vận chuyển</a></li>
                <li><i class="fas fa-chevron-right custom-icon"></i> <a href="">Chính sách đổi trả</a></li>
                <li><i class="fas fa-chevron-right custom-icon"></i> <a href="">Chính sách đổi trả bảo hành</a></li>
            </ul>
            <a href=""><i class="bi bi-facebook custom-icon2"></i></a>
            <a href=""><i class="bi bi-instagram custom-icon2"></i></a>
            <a href=""><i class="bi bi-youtube custom-icon2"></i></a>
            <a href=""><i class="bi bi-shop-window custom-icon2"></i></a>
            <a href=""><i class="bi bi-tiktok custom-icon2"></i></a>
            <br>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="TTDH">SHOP GIÀY MWC</div>
            <div class="TTDH">Địa chỉ: VP: 214/14 Nguyễn Trãi, Phường Nguyễn Cư Trinh, Tp Hồ Chí Minh</div>
            <div class="TTDH">MST:</div>
        </div>
        <div class="col-12 col-md-6 text-end">
            <a href=""><img src="../../static/css/img/bocongthuong.png" class="BoCongThuong" alt=""></a>
        </div>
    </div>
</div>
<br>

<script src="../../static/css/jsss/js/index.js"></script>
<script>
    function changeImage(imageSrc) {
        document.getElementById('mainImage').src = imageSrc;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>