<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<div th:replace="fragments/header :: header"></div>
<br>
<br>
<div class="TrangGiua container " th:object="${product}">
    <form action="/cart/add" method="POST">
    <div class="row">
        <div class="col-lg-6">
            <div class="image-container mb-3">
                <!-- Hình ảnh chính của sản phẩm -->
                <img id="mainImage" th:src="@{'/img/' + ${product.image}}" alt="Hình lớn" class="img-fluid border rounded " style="width: 100%;">
            </div>
            <div class="thumbnail-container d-flex">
                <!-- Các hình ảnh thumbnail cho sản phẩm theo màu -->
                <div th:each="image : ${images}">
                    <img th:src="@{'/img/' + ${image.image}}" alt="Hình thumbnail" class="img-thumbnail me-2"
                         style="width: 100px; cursor: pointer;"
                         onclick="changeImage(this.src)">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6"  >
            <br>
           <h2 th:text="*{name}">Tên sản phẩm </h2>
            <input type="hidden" name="productId" th:value="${product.id}">
            <input type="number" name="quantity" value="1" min="1" class="form-control" required style="display: none;" id="quantityInput">

            <br>
            <div>
                <span class="ratingDanhGia">★★★★☆</span>
                <span class="textDanhGia">125 Đánh giá</span>
                <span class="textDanhGia">1201 Số lượng thích</span>
            </div>
            <br>
            <div class="tien" th:text="*{#numbers.formatDecimal(price, 0, 'COMMA', 0, 'POINT')} + 'đ'">giái

            </div>
            <br>
            <div class="container mau">
                <h6>Màu:</h6>
                <div class="color-container">
                    <div th:each="color, iterStat : ${colors}">
                        <input type="radio"
                               th:id="'color_' + ${color.id}"
                               th:name="colorId"
                               th:value="${color.id}"
                               class="color-button"
                               th:checked="${iterStat.index == 0}"> <!-- Đánh dấu màu sắc đầu tiên -->
                        <label th:for="'color_' + ${color.id}" class="label-button">
                            <!-- Hiển thị hình ảnh tương ứng với màu -->
                            <img th:src="@{'/img/' + ${color.name.toLowerCase()} + '.png'}"
                                 th:alt="|Màu ${color.name}|">
                        </label>
                    </div>
                </div>

            </div>

            <br>
            <div class="size-options">
                <h6 class="m-2">Kích thước:</h6>
                <div th:each="size, iterStat : ${sizes}">
                    <input type="radio"
                           name="sizeId"
                           th:id="'size_' + ${size.id}"
                           th:value="${size.id}"
                           class="size-option"
                           th:checked="${iterStat.index == 0}"> <!-- Kiểm tra nếu là kích thước đầu tiên -->
                    <label th:for="'size_' + ${size.id}" th:text="${size.number}"></label>
                </div>



            </div>

            <br>
            <!-- Nút kích hoạt modal không có màu -->
            <button type="button" class="btn" style="background-color: transparent; border: none; color: #635f5f;"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Hướng dẫn tính Size
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Hướng dẫn tính Size</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Nội dung modal -->
                            <img src="../img/chicachdo1.jpg" alt="">
                            <h6> 01. Vẽ khung bàn chân</h6>
                            <div>Đặt bàn chân lên tờ giấy trắng, dùng bút đánh dấu theo khung bàn chân trên giấy
                            </div>
                            <img src="../img/chicachdo2.jpg" alt="">
                            <h6> 02. Đo chiều dài bàn chân</h6>
                            <div>Dùng thước đo chiều dài lớn nhất từ mũi chân đến gót chân trên khung bàn chân đã
                                đánh dấu</div>
                            <img src="../img/chicachdo3.jpg" alt="">
                            <h6>03. Đo độ rộng vòng chân </h6>
                            <div>Lấy thước dây quấn quanh 1 vòng bàn chân từ khớp ngón chân cái đến khớp ngón chân
                                út</div>
                            <div class="container chicachdo">
                                <div class="d-flex justify-content-between w-100">
                                    <div class="chicachdo1">
                                        <div><strong>Size</strong></div>
                                        <div>35</div>
                                        <div>36</div>
                                        <div>37</div>
                                        <div>38</div>
                                        <div>39</div>
                                    </div>

                                    <div class="chicachdo1">
                                        <div><strong>Độ rộng (cm)</strong></div>
                                        <div>20.7</div>
                                        <div>21.1</div>
                                        <div>21.6</div>
                                        <div>22.1</div>
                                        <div>22.6</div>
                                    </div>

                                    <div class="chicachdo1">
                                        <div><strong>Độ dài (cm)</strong></div>
                                        <div>23.1</div>
                                        <div>23.8</div>
                                        <div>24.5</div>
                                        <div>25.2</div>
                                        <div>25.8</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
            <div class="container mt-5">

                <button type="submit" class="btn themGioHang">
                    <i class="bi bi-cart2"></i> Mua ngay
                </button>
            </div>
            <br>
            <div class="container chuHoTroTong">
                <div class="d-flex justify-content-between w-100">
                    <div class="text-center">
                        <div><img src="../img/icon3.jpg" alt="" width="30px"></div>
                        <div class="chuHoTro">Bảo hành keo vĩnh viễn</div>
                    </div>

                    <div class="text-center">
                        <div><img src="../img/icon4.jpg" alt="" width="30px"></div>
                        <div class="chuHoTro">Miễn phí vận chuyển toàn quốc</div>
                        <div class="chuHoTro">cho đơn hàng từ 150k</div>
                    </div>

                    <div class="text-center">
                        <div><img src="../img/icon5.jpg" alt="" width="30px"></div>
                        <div class="chuHoTro">Đổi trả dễ dàng</div>
                        <div class="chuHoTro">(trong vòng 7 ngày nếu lỗi nhà sản xuất)</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="container chuHoTroTong">
                <div class="d-flex justify-content-between w-100">
                    <div class="text-center">
                        <div><img src="../img/icon2.jpg" alt="" width="30px"></div>
                        <div class="chuHoTro">Hotline 1900.633.349</div>
                        <div class="chuHoTro">hỗ trợ từ 8h30-21h30</div>
                    </div>

                    <div class="text-center">
                        <div><img src="../img/icon1.jpg" alt="" width="30px"></div>
                        <div class="chuHoTro">Giao hàng tận nơi,</div>
                        <div class="chuHoTro">nhận hàng xong thanh toán</div>
                    </div>

                    <div class="text-center">
                        <div><img src="../img/icon3.jpg" alt="" width="30px"></div>
                        <div class="chuHoTro">Ưu đãi tích điểm và</div>
                        <div class="chuHoTro">hưởng quyền lợi thành viên từ MWC</div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <br>
        <br>
        <div class="banChiTietSanPham">
            <table>
                <tr>
                    <th>CHI TIẾT SẢN PHẨM</th>
                </tr>
                <tr>
                    <td>
                        <p><b>MÔ TẢ SẢN PHẨM: Dép Nữ MWC 8347 - Dép Nữ Quai Ngang Bản To Nhún Cách Điệu, Dép Đế Đúc
                            3cm Năng Động,Trẻ Trung, Thời Trang.</b></p>

                        <ul>
                            <li>Dép nữ với thiết kế quai ngang bản to nhún cách điệu, dép được làm bằng chất liệu da
                                tổng hợp cao cấp nên rất êm mềm và bền bỉ.</li>
                            <li>Dép đế đúc nguyên khối nên có trọng lượng nhẹ, tạo sự thoải mái dễ đi, dễ phối với
                                nhiều trang phục khác nhau từ quần tây, jeans hay chân váy, sooc,... đều rất hợp
                                thời trang, từ đó làm tô thêm vẻ đẹp trẻ trung, năng động của các bạn gái.</li>
                            <li>Dép nữ quai ngang thực sự là lựa chọn lý tưởng cho phong cách năng động, tràn đầy
                                sức sống, dép mang đi chơi, đi phố, đi trong nhà văn phòng đều phù hợp.</li>
                        </ul>
                        <p><b>CHI TIẾT SẢN PHẨM</b></p>
                        <ul>
                            <li>Chiều cao: Khoảng 3cm</li>
                            <li>Chất liệu: Da mềm tổng hợp cao cấp</li>
                            <li>Kiẻu dáng: Dép nữ quai ngang bản to, dép thời trang nữ</li>
                            <li>Đế: Xẻ rãnh chống trơn trượt</li>
                            <li>Màu sắc: Nâu - Đen - Kem</li>
                            <li>Size: 35 - 36 - 37 - 38 - 39</li>
                            <li>Xuất xứ: Việt Nam</li>
                            <li><b>Chú ý</b>: Kích thước so sánh một cách cẩn thận, vui lòng cho phép sai số 1-3 cm
                                do đo lường thủ công.</li>
                            <li>Do màn hình hiển thị khác nhau và ánh sáng khác nhau, hình ảnh có thể chênh lệch
                                5->10% màu sắc thật của sản phẩm.</li>
                            <li>Cảm ơn bạn đã thông cảm.</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </form>
</div>
<br>
<hr>
<br>
<div th:replace="fragments/footer :: footer"></div>
<br>
<script>
    function changeImage(newSrc) {
        // Cập nhật hình ảnh chính bằng hình ảnh thumbnail đã chọn
        document.getElementById("mainImage").src = newSrc;
    }
</script>
<script src="../js/index.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>