<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thất bại</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="1https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../css/index.css">

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container mt-5">
    <br>

    <h1 class="mb-3 d-flex justify-content-center thatBai">Thanh toán thất bại</h1>
    <p class="mb-3 d-flex justify-content-center">bạn kiểm tra lại thẻ </p>
    <a class="mb-3 d-flex justify-content-center" style="color: #007bff" href="/">Quay lại trang chủ</a>
    <br>
    <hr>
    <br>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
