<footer th:fragment="footer">
<div class="cuoiTrang container">
    <div class="row">

        <div class="col-12 col-md-4">
            <div class="TTDH">GỌI MUA HÀNG ONLINE (08:00 - 21: 00 mỗi ngày)</div>
            <h3>1900.633.349</h3>
            <div class="thongTin">Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</div>
            <br>
            <div class="TTDH">GÓP Ý & KHIẾU NẠI (08:30 - 20:30)</div>
            <h3>1900.633.349</h3>
            <div class="thongTin">Tất cả các ngày trong tuần (Trừ tết Âm Lịch)</div>
            <br>
        </div>

        <div class="col-12 col-md-4">
            <div class="TTDH">THÔNG TIN</div>
            <ul class="list-unstyled">
                <li><i class="fas fa-chevron-right custom-icon"></i> <a href="">Thông tin Website thương mại
                    điện tử</a></li>
                <li><i class="fas fa-chevron-right custom-icon"></i> <a href="">Giới thiệu về MWC</a></li>
                <li><i class="fas fa-chevron-right custom-icon"></i> <a href="">Than Phiền Góp Ý</a></li>
                <li><i class="fas fa-chevron-right custom-icon"></i> <a href="">Chính sách và quy định</a></li>
            </ul>
        </div>

        <div class="col-12 col-md-4">
            <div class="TTDH">FAQ</div>
            <ul class="list-unstyled">
                <li><i class="fas fa-chevron-right custom-icon"></i> <a href="">Vận chuyển</a></li>
                <li><i class="fas fa-chevron-right custom-icon"></i> <a href="">Chính sách đổi trả</a></li>
                <li><i class="fas fa-chevron-right custom-icon"></i> <a href="">Chính sách đổi trả bảo hành</a>
                </li>
            </ul>
            <a href=""><i class="bi bi-facebook custom-icon2"></i></a>
            <a href=""><i class="bi bi-instagram custom-icon2"></i></a>
            <a href=""><i class="bi bi-youtube custom-icon2"></i></a>
            <a href=""><i class="bi bi-shop-window custom-icon2"></i></a>
            <a href=""><i class="bi bi-tiktok custom-icon2"></i></a>
            <br>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="TTDH">SHOP GIÀY MWC</div>
            <div class="TTDH">Địa chỉ: VP: 214/14 Nguyễn Trãi, Phường Nguyễn Cư Trinh, Tp Hồ Chí Minh</div>
            <div class="TTDH">MST:</div>
        </div>
        <div class="col-12 col-md-6 text-end">
            <a href=""><img src="../img/bocongthuong.png" class="BoCongThuong" alt=""></a>
        </div>
    </div>
</div>
<br>
</footer>