<header th:fragment="header">
<div ng-app="cartApp" ng-controller="CartService">

    <div class="fullmenu">

        <div class="djustify-content-center container ThanhMenu">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid chu-footer">
                    <button class="navbar-toggler text-end" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a th:href="@{/}" class="navbar-brand" ><img src="../img/logo.png" alt="logo" height="50px" width="75px"></a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <!-- Giày Cao Gót Nữ -->
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/category/{id}(id=100)}">GIÀY CAO GÓT NỮ</a>
                            </li>

                            <!-- Dép & Sandal Nữ -->
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/category/{id}(id=101)}">DÉP & SANDAL NỮ</a>
                            </li>

                            <!-- Giày Nam -->
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/category/{id}(id=102)}">GIÀY NAM</a>
                            </li>

                            <!-- Dép Nam -->
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/category/{id}(id=103)}">DÉP NAM</a>
                            </li>

                            <!-- Giày Thể Thao -->
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/category/{id}(id=104)}">GIÀY THỂ THAO</a>
                            </li>

                        </ul>
                    </div>


                    <!-- Thanh tìm kiếm trên màn hình lớn -->
                    <form class="d-flex d-none d-lg-flex" role="search" action="/search" method="get">
                        <input class="form-control me-2" name="query" type="search" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                    </form>

                    <!-- Icon kính lúp (hiển thị trên màn hình nhỏ) -->
                    <button class="btn btn-outline-success d-lg-none" id="search-icon" type="button">
                        <i class="bi bi-search"></i>
                    </button>

                    <!-- Thanh tìm kiếm trên màn hình nhỏ -->
                    <form class="d-flex mt-3 d-none" id="mobile-search-form" role="search" action="/search" method="get">
                        <input class="form-control me-2" name="query" type="search" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Tìm</button>
                    </form>
                    <div class="dangNhap">
                        <a th:if="${session.loggedInUser == null}" href="/account/login">
                            <i class="bi bi-person"></i>
                        </a>
                        <a th:if="${session.loggedInUser != null}" href="/account/profile">
                            <i class="bi bi-person-circle"></i>
                        </a>
                    </div>

                    <div class="gioHang">
                        <a href="/cart">
                            <i class="bi bi-cart2"></i>
                            <!-- Hiển thị số lượng giỏ hàng nếu lớn hơn 0 -->
                            <span class="cart-quantity" th:text="${totalQuantity}"></span>
                        </a>
                    </div>



                </div>
            </nav>
        </div>
    </div>
</div>

</header>